<!DOCTYPE html>
<html>
  <head>
    <title>AnalyticsReports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">Analytics Reports</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="<%= new_report_path %>">+ New Report</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if session[:credentials].nil? %>
                <li><a href="<%= oauth_path %>">Auth</a></li>
            <% else %>
                <li>
                  <a href="<%= oauth_path %>" title="Refresh token if expired">
                    Credentials expiration at:
                    <span class="lightblue">
                      <%= Time.at(JSON.parse(session[:credentials])['expires_at']) %>
                    </span>
                  </a>
                </li>
                <li><a href="<%= signout_path %>">Sign Out</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <% flash.each do |key, value| %>
          <p class="bg-<%= key %> text-<%= key %> msg"><%= value %></p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
